button {
	border: 0;
	border-radius: 0;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

.bg-image {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right,
		rgb(19, 240, 233), rgb(30, 220, 100), rgb(19, 240, 233));
}

.bg-image > section {
	line-height: 1.4;
	font-size: 24px;
	border-radius: 12px;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.bg-image .keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 1px;
	grid-row-gap: 1px;
	background-color: #999;
}

.bg-image .mainDisplay {
	text-align: right;
	background-color: #222222;
	color: #fff;
	font-size: 1.75em;
	padding: 0.5em 0.75em;
}

.keyboard > button {
	background-color: #fff;
	padding: 0.5em 1.25em;
	position: relative;
	outline: none;
}

.keyboard > button:active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	background-color: rgb(0, 0, 0, 0.2);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
}

.keyboard > button:last-child {
	grid-column: -2;
	grid-row: 2 / span 4;
	background-image: linear-gradient(to bottom, #fe886a, #ff7033);
}

.keyboard .operator {
	background-color: #eee;
}