* {
	margin: 0px;
	padding: 0px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	font-weight: 400;
	line-height: 1.5;
	color: #212529
}

a {
	text-decoration: none;
}

.mainWrapper {
	display: flex;
	background-color: #f1f7fe;
	font-family: 'Montserrat', 'sans-serif';
}

.mainWrapper > .navigator {
	width: 100px;
	background-color: #2f80ec;
	border-radius: 0px 10px 10px 0px;
}

.mainWrapper > .rightContent {
	flex-grow: 1;
	display: flex;
}

.rightContent > .leftSidebar {
	background-color: #f1f7fe;
	width: 470px;
}

.rightContent > .chatSide {
	flex-grow: 1;
	background: #fbfcfe;
}

.mainWrapper > .navigator > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.mainWrapper > .navigator > ul > li:first-child {
	display: block;
}

.mainWrapper > .navigator > ul > li:first-child > a {
	width: 100px;
	line-height: 100px;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.mainWrapper > .navigator > ul > li:first-child > a > img {
	position: relative;
	left: -4px;
	vertical-align: middle;
}

.mainWrapper > .navigator > ul > li:not(:first-child) {
	margin: 10px 20px;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a {
	padding: 15px 20px;
	text-align: center;
	position: relative;
	display: block;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a.active {
	background-color: #1a73e9;
    border-radius: 7px;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a > span:last-child {
	font-size: 20px;
	color: #fff;
	position: relative;
	top: 3px;
}

.mainWrapper > .navigator > ul > li:nth-last-child(2) {
	flex-grow: 1;
}

.chatIcon {
	position: absolute;
	height: 7px;
	width: 7px;
	right: 10px;
	top: 10px;
	border-radius: 50%;
}

.chatIcon.warning {
	background-color: #ffc107;
}

.chatIcon.danger {
	background-color: #dc3545;
}

.chatHeader {
	padding: 30px 30px 0 30px;
}

.chatHeader > .chat-header-user {
	display: flex;
	align-items: center;
}

.chat-header-user > .avatar {
	display: inline-block;
	height: 55px;
	width: 55px;
	margin-right: 16px;
}

.chat-header-user > .avatar > a > img {
	width: 100%;
	border-radius: 55px;
	vertical-align: middle;
}

.chatHeader > .chat-header-user > div > h5 {
	font-size: 15px;
	font-weight: 600;
	color: #0c0c0d;
}

.chatHeader > .chat-header-user > div > .text-mail {
	font-size: 80%;
	font-weight: 400;
	color: #28a745;
}