* {
	margin: 0px;
	padding: 0px;
}

*, ::after, ::before {
	box-sizing: border-box;
}

body {
	font-weight: 400px;
	line-height: 1.5;
	color: #212529
}

a {
	text-decoration: none;
}

.mainWrapper {
	display: flex;
	background-color: #f1f7fe;
	font-family: 'Montserrat', 'sans-serif';
}

.mainWrapper > .navigator {
	width: 100px;
	background-color: #2f80ec;
	border-radius: 0px 10px 10px 0px;
}

.mainWrapper > .rightContent {
	flex-grow: 1;
	display: flex;
}

.rightContent > .leftSidebar {
	background-color: #f1f7fe;
	width: 470px;
}

.rightContent > .chatSide {
	flex-grow: 1;
	background: #fbfcfe;
}

.mainWrapper > .navigator > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.mainWrapper > .navigator > ul > li:first-child {
	display: block;
}

.mainWrapper > .navigator > ul > li:first-child > a {
	width: 100px;
	line-height: 100px;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.mainWrapper > .navigator > ul > li:first-child > a > img {
	position: relative;
	left: -4px;
	vertical-align: middle;
}

.mainWrapper > .navigator > ul > li:not(:first-child) {
	margin: 10px 20px;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a {
	padding: 15px 20px;
	text-align: center;
	display: block;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a.active {
	background-color: #1a73e9;
    border-radius: 7px;
}

.mainWrapper > .navigator > ul > li:not(:first-child) > a > span {
	font-size: 20px;
	color: #fff;
	position: relative;
	top: 3px;
}

.mainWrapper > .navigator > ul > li:nth-last-child(2) {
	flex-grow: 1;
}